name: Medic daily report

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * 1-5'

permissions:
  contents: read
  actions: read

jobs:
  medic-daily-report:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3

      - name: Import secrets
        id: secrets
        uses: hashicorp/vault-action@v2.7.3
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: |
            secret/data/products/optimize/ci/camunda-optimize SLACK_API_KEY;
            secret/data/products/optimize/ci/camunda-optimize ARGOCD_TOKEN;
            secret/data/products/optimize/ci/camunda-optimize SNYK_TOKEN;

      - name: Get infra report
        id: get-report
        uses: ./action.yml
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          argocd_token: ${{ steps.secrets.outputs.ARGOCD_TOKEN }}
          snyk_token: ${{ steps.secrets.outputs.SNYK_TOKEN }}
          config_file_path: ${{ github.workspace }}/.github/workflows/infra-report-config.json

      - name: Print report
        run: echo ${{ steps.get-report.outputs.infra_report }}
