name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

permissions:
  contents: read
  actions: read

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Set Node.js
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: latest
      - name: Install dependencies
        run: corepack enable && yarn
      - name: Build
        run: |
          yarn run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./
        id: get-report
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          config_file_path: ${{ github.workspace }}/.github/workflows/infra-report-config.json

      - name: Print report
        run: >
          multiline_output="${{ steps.get-report.outputs.infra_report }}"
          echo "$multiline_output"
